{% extends 'base1.html' %}

{% block title%}
    Categories
{% endblock title%}

{% block content %}
    <main>
        <h1>Expense categories</h1>
        <table>
            <thead>
                <tr>
                    <td>Name</td>
                    <td>Number of receipts</td>
                </tr>
            </thead>
            <tbody>
                {% for item in category %}
                    <tr>
                        <td>{{ item.name }}</td>
                        <td>{{ item.receipts.count }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>
{% endblock content %}
